#about-me {
    background-color: #282A36;
    color: #FFFFFF;
    padding: 8rem 0;
}

#about-me div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 23rem
}

#about-me img {
    height: 17rem;
    width: 17rem;
}
