#projects {
    background-color: #F8F8F2;
}

#projects p {
    font-size: 1.25rem;
    padding-right: 4rem;
}

#projects a {
    text-decoration: none;
    color: #FF5555;
}

#projects-list {
    list-style-type: none;
}

.projects-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}

#projects-list img {
    height: 8rem;
    width: 8rem;
    border-radius: .9rem;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

#projects-list img:hover {
    transform: scale(1.3);
}