* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

h2 {
    font-size: 2.5rem;
}

p {
    text-align: justify;
    font-size: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 22rem
}

/* **************************************************************************** */

#menu {
    background-color: rgb(32, 33, 40, .8);
    position: fixed;
    z-index: 9000;
    top: 0;
    width: 100%;
    backdrop-filter: blur(0.625rem);
}

#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 1.5rem;
}

#menu a {
    color: #FFFFFF;
    text-decoration: none;
    padding: .3rem;
    border-radius: .1rem;
    font-size: 1.2rem;
}

#menu a:after {
    display: block;
    content: '';
    border-bottom: .2rem solid #FFFFFF;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

#menu a:hover:after {
    transform: scaleX(1);
}

/* **************************************************************************** */

#about-me {
    background-color: #282A36;
    color: #FFFFFF;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

#about-me img {
    height: 17rem;
    width: 17rem;
}

/* **************************************************************************** */

#skills {
    background-color: #F8F8F2;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#skills ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

#skills img {
    height: 3.5rem;
    width: 3.5rem;
    
}

#skills label {
    display: block;
    text-align: center;
    font-size: .8rem;
    padding-top: .4rem;
}

/* **************************************************************************** */

#projects {
    padding: 0 15rem;
}

#projects-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

#projects-list img {
    display: block;
    height: 100%;
    width: 100%;
}

.projects-images {
    position: relative;
    height: 18rem;
    width: 22rem;
}

.overlay {
    color: #FFFFFF;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(32, 33, 40, .8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    backdrop-filter: blur(.18rem);
}

.projects-images:hover .overlay {
    bottom: 0;
    height: 100%;
}

.project_tools {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: 80%;
    cursor: default;
}

.project_tools_item {
    padding: .3rem;
    background-color: #2a2c36;
    border: solid #23252e 2px;
    border-radius: 5px;
}

.overlay_links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.overlay_links a {
    color: #505561;
    text-decoration: none;
    background-color: transparent;
    border: solid #23252e 2px;
    border-radius: 5px;
    padding: .3rem;
    transition: 0.4s linear;
}

.overlay_links a:hover {
    background-color: #23252e;
    color: #FFFFFF;
}
