* {
    margin: 0;
    font-family: Cambria, Georgia, serif;
}

#about-me {
    padding: 6.5rem 3rem;
    background-color: #282A36;
    color: #FFFFFF;
}

#about-me h1 {
    font-size: 3rem;
    padding-bottom: 3rem;
}

#about-me p {
    padding: 1.5rem 4rem 0 1.5rem;
    font-size: 1.5rem;
    text-align: justify;
}

#about-me div {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem
}

#about-me #profile-pic {
    height: 17rem;
    width: 17rem;
    padding-left: 1.5rem;
}