<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Portfólio do Gabriel</title>
</head>
<body>
    <section id="about-me">
        <h1>
            Olá mundo, meu nome é Gabriel!
        </h1>
        <div>
            <img id="profile-pic" src="/img/imagem_teste.jpg" alt="Minha foto">
            <p>
                Mineiro e estudante de Ciência da Computação na Universidade Estadual do Sudoeste da Bahia,
                em Vitória da conquista. Atualmente estudando javascript com Express e MongoDB com o intuito
                de me tornar dev Fullstack. Sonho também em me tornar game dev futuramente. Tenho experiência
                básica com Java e C++.
            </p>
        </div>
    </section>
    <section id="skills">
        
    </section>
    <section id="projects">

    </section>
    <footer id="social-medias">

    </footer>
</body>
</html>