* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
    background-color: #181823;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu h1 a {
    padding: 15px 30px 15px 30px;
    display: block;
}

.menu #itens-menu li a {
    padding: 28px 30px 28px 30px;
    display: block;
}

.menu #itens-menu li {
    list-style-type: none;
    display: inline-block;
}

.menu h1:hover,
.menu #itens-menu li:hover {
    background-color: #34344c;
}

#sobre-mim {
    background-color: #537FE7;
    font-size: 28px;
    text-align: left;
}

.sessoes #sobre-mim h2 {
    font-size: 45px;
    padding: 15px 0 15px 200px;
}

#sobre-mim #conteiner {
    display: flex;
    justify-content: space-between;
}

#sobre-mim p {
    padding: 50px 100px 0 50px;
}

#sobre-mim img {
    width: 400px;
    height: 400px;
    padding: 0 150px 200px 0;
}

#projetos {
    background-color: #C0EEF2;
}